.app-wrapper {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 260px;
  padding: 1.5rem;
  background-color: #f8f9fa;
  min-height: 100vh;
  transition: margin-left 0.3s ease;
}

@media (max-width: 991px) {
  .main-content {
    margin-left: 50px;
    
  }
}

@media (max-width: 576px) {
  .main-content {
    margin-left: 0;
    
  }
}